<html>
  <head>
    <meta charset="utf-8">
    <title>모임</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="https://webfontworld.github.io/cookierun/CookieRun.css" rel="stylesheet">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/initial.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/" class="logo">Group Talk</a>
      {{#SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}
      <ul class="top_info">
        <li class="profile"><span><img src="{{#avatarURL}}{{.}}{{/avatarURL}}{{^avatarURL}}https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png{{/avatarURL}}"></span> <b>{{SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}</b>님</li>
        <li class="setting"><a href="/mypage/detail">설정</a><a href="/logout">로그아웃</a></li>
      </ul>
      {{/SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}
      {{^SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}
      <ul class="top_info">
        <li class="setting"><a href="/login">로그인</a><a href="/join">회원가입</a></li>
      </ul>
      {{/SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}
    </nav>

    <div class="visual">
      <div class="width">
        <form class="" action="/serach/moim" method="get">
          <h2>MOIM <br>Group Talk</h2>
          <div class="search_bar">
            <input type="text" name="query" value="" placeholder="모임,유저 검색...">
            <button type="submit"><i class="ri-search-2-line"></i></button>
          </div>
        </form>
        <img src="/image/visual.png" alt="">
      </div>
    </div>

    <div class="all_group width common">
      <h2 class="title">전체 리스트</h2>
	    <div class="all_group width">
	      <form class="" action="/" method="get">
	        <ul class="cate_wrap">
	        {{#cates}}
	        	{{#isCate}}
 	             <li><input type="checkbox" name="cate" id="{{cate}}" value="{{cate}}" checked="checked"><label for="{{cate}}">{{cate}}</label></li>
	            {{/isCate}}
	            {{^isCate}}
	             <li><input type="checkbox" name="cate" id="{{cate}}" value="{{cate}}"><label for="{{cate}}">{{cate}}</label></li>
	            {{/isCate}}
	        {{/cates}}
	          <li></li>
	        </ul>
	        <button type="submit">검색하기</button>
	      </form>
	   </div>
      <div class="agroup_wrap">
	       {{#moims.moims}}
	       <div class="ag_box">
	         <span class="category">{{cate}}</span>
	         <h2><a href="/moim/view?moimId={{id}}">{{title}}</a></h2>
	         <h3><i class="ri-calendar-line"></i>모임날짜<span>{{formatDate}}</span></h3>
	         <h3><i class="ri-time-line"></i>모임시간<span>{{timeStart}} ~ {{timeEnd}}</span></h3>
	         <ul>
	           <li><p><i class="ri-user-3-line"></i>{{currentPerson}}명 / {{maxPerson}}명</p></li>
	           <li><p>{{nick}}</p></li>
	         </ul>
	       </div>
	       {{/moims.moims}}
      </div>
		
      	<div class="page_nav">
	      	{{#moims.prev}}
	        <a href="/?page={{moims.prevPage}}"><</a>
	        {{/moims.prev}}
	      	{{^moims.prev}}
	        <a><</a>
	        {{/moims.prev}}
	        
	        {{#moims.pages}}
	        	{{#flag}}
	        	<a class="pageActive">{{page}}</a>
	        	{{/flag}}
	        	{{^flag}}
	        	<a href="/?page={{page}}{{#category}}{{.}}{{/category}}">{{page}}</a>
	        	{{/flag}}
	        {{/moims.pages}}
	        
	        {{#moims.next}}
	        <a href="/?page={{moims.nextPage}}">></a>
	      	{{/moims.next}}
	        {{^moims.next}}
	        <a>></a>
	      	{{/moims.next}}
      </div>
    </div>

    <div class="open_wrap common">
      <div class="width">
        <h2 class="title">찾는 모임이 없으시다면?</h2>
        <a href="/moim/create">모임 개설하기</a>
      </div>
    </div>
  </body>
</html>