<html>
  <head>
    <meta charset="utf-8">
    <title>모임</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="https://webfontworld.github.io/cookierun/CookieRun.css" rel="stylesheet">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/initial.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/" class="logo">Group Talk</a>
      {{#SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}
      <ul class="top_info">
        <li class="profile"><span><img src="{{#avatarURL}}{{.}}{{/avatarURL}}"></span> <b>{{SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}</b>님</li>
        <li class="setting"><a href="/user/detail">설정</a><a href="/logout">로그아웃</a></li>
      </ul>
      {{/SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}
      {{^SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}
      <ul class="top_info">
        <li class="setting"><a href="/login">로그인</a><a href="/join">회원가입</a></li>
      </ul>
      {{/SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}
    </nav>

    <div class="visual">
      <div class="width">
        <form class="" action="index.html" method="post">
          <h2>MOIM <br>Group Talk</h2>
          <div class="search_bar">
            <input type="text" name="" value="" placeholder="검색어를 입력해주세요.">
            <button type="button" name="button"><i class="ri-search-2-line"></i></button>
          </div>
        </form>
        <img src="/image/visual.png" alt="">
      </div>
    </div>

    <div class="all_group width common">
      <h2 class="title">전체 리스트</h2>
      <div class="agroup_wrap">
	       {{#moims}}
	       <div class="ag_box">
	         <span class="category">{{cate}}</span>
	         <h2><a href="#">{{title}}</a></h2>
	         <h3><i class="ri-calendar-line"></i>모임날짜<span>{{formatDate}}</span></h3>
	         <h3><i class="ri-time-line"></i>모임시간<span>{{timeStart}} ~ {{timeEnd}}</span></h3>
	         <ul>
	           <li><p><i class="ri-user-3-line"></i>{{currentPerson}}명 / {{maxPerson}}명</p></li>
	           <li><p>{{managerId}}</p></li>
	         </ul>
	       </div>
	       {{/moims}}
      </div>
		
      <div class="page_nav">
        <a href="#"><</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">></a>
      </div>
    </div>

    <div class="all_group width common">
      <h2 class="title">카테고리</h2>
      <form class="" action="index.html" method="post">
        <ul class="cate_wrap">
          <li><input type="checkbox" name="" value=""><label for="">1</label></li>
          <li><input type="checkbox" name="" value=""><label for="">2</label></li>
          <li><input type="checkbox" name="" value=""><label for="">3</label></li>
          <li><input type="checkbox" name="" value=""><label for="">4</label></li>
          <li><input type="checkbox" name="" value=""><label for="">5</label></li>
          <li><input type="checkbox" name="" value=""><label for="">6</label></li>
          <li><input type="checkbox" name="" value=""><label for="">7</label></li>
          <li><input type="checkbox" name="" value=""><label for="">8</label></li>
          <li><input type="checkbox" name="" value=""><label for="">9</label></li>
          <li><input type="checkbox" name="" value=""><label for="">10</label></li>
          <li><input type="checkbox" name="" value=""><label for="">11</label></li>
          <li><input type="checkbox" name="" value=""><label for="">12</label></li>
        </ul>
      </form>
      <div class="agroup_wrap">
        <div class="ag_box">
          <span class="category">카테고리</span>
          <h2><a href="#">모임제목</a></h2>
          <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
          <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
          <ul>
            <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
            <li><p>2023.07.11</p></li>
          </ul>
        </div>
        <div class="ag_box">
          <span class="category">카테고리</span>
          <h2><a href="#">모임제목</a></h2>
          <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
          <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
          <ul>
            <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
            <li><p>2023.07.11</p></li>
          </ul>
        </div>
        <div class="ag_box">
          <span class="category">카테고리</span>
          <h2><a href="#">모임제목</a></h2>
          <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
          <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
          <ul>
            <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
            <li><p>2023.07.11</p></li>
          </ul>
        </div>
        <div class="ag_box">
          <span class="category">카테고리</span>
          <h2><a href="#">모임제목</a></h2>
          <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
          <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
          <ul>
            <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
            <li><p>2023.07.11</p></li>
          </ul>
        </div>
        <div class="ag_box">
          <span class="category">카테고리</span>
          <h2><a href="#">모임제목</a></h2>
          <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
          <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
          <ul>
            <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
            <li><p>2023.07.11</p></li>
          </ul>
        </div>
      </div>
      <div class="page_nav">
        <a href="#"><</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">></a>
      </div>
    </div>


    <div class="open_wrap common">
      <div class="width">
        <h2 class="title">찾는 모임이 없으시다면?</h2>
        <a href="open.html">모임 개설하기</a>
      </div>
    </div>
  </body>
</html>