<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="https://webfontworld.github.io/cookierun/CookieRun.css" rel="stylesheet">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/initial.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/" class="logo">Group Talk</a>
      <ul class="top_info">
        <li class="profile"><span><img src="{{#avatarURL}}{{.}}{{/avatarURL}}{{^avatarURL}}https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png{{/avatarURL}}"></span> <b>{{SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}</b>님</li>
        <li class="setting"><a href="/mypage/detail">설정</a><a href="/logout">로그아웃</a></li>
      </ul>
    </nav>

    <div class="sub_visual">
      <div class="width2">
        <h2>모임 만들기</h2>
        <img src="/image/sub.png" alt="">
      </div>
    </div>

    <div class="common width2">
      <h2 class="title">모임 정보 입력</h2>

      <form class="" action="/moim/create" method="post" class="profile_form">
      <input type="hidden" name="currentPerson" value="1">
        <div class="open_info_wrap">
          <ul class="open_info">
            <li>
              <h4>모임명</h4>
              <input type="text" name="title" value="">
            </li>
            <!--  
            <li>
              <h4>모임 장소</h4>
              <input type="text" name="place" value="">
            </li>
            -->
            <li>
              <h4>모임 목적</h4>
              <textarea name="description" rows="8" cols="80"></textarea>
            </li>
            <li class="open_time">
              <div class="">
                <h4>모임 날짜</h4>
                <input type="datetime-local" name="targetDate" value="">
              </div>
              <div class="">
                <h4>카테고리</h4>
                <select class="people" name="cate">
	                {{#cates}}
	                  <option value="{{.}}">{{.}}</option>
	                {{/cates}}
                </select>
              </div>
            </li>
            <li class="open_time">
              <div>
                <h4>모임 종료</h4>
                <input type="time" name="duration" value="">
              </div>
              <div class="">
                <h4>정원</h4>
                <select class="people" name="maxPerson">
	                {{#persons}}
	                  <option value="{{.}}">{{.}}</option>
	                {{/persons}}
                </select>
              </div>
            </li>
          </ul>
        </div>

        <div class="form_btn">
          <a href="/"><button type="button" name="button">취소</button></a>
          <button type="submit" name="button">모임 만들기</button>
        </div>
      </form>
    </div>

  </body>
</html>
