<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>우리들의 모임</title>
<style type="text/css">

body {
  background: #f5f7fa;
  font-family: "Oxygen", sans-serif;
}
body > * {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.shadow--sm {
  box-shadow: 0px 25px 15px -25px #97a3b8;
}
.shadow--sm:hover {
  box-shadow: 0px 10px 10px -10px rgba(151, 163, 184, 0.5);
}
.shadow--md {
  box-shadow: 0px 25px 25px -25px #97a3b8;
}
.shadow--md:hover {
  box-shadow: 0px 10px 20px -10px rgba(151, 163, 184, 0.5);
}
.shadow--lg {
  box-shadow: 0px 25px 35px -25px #97a3b8;
}
.shadow--lg:hover {
  box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
}
.shadow-smooth-sm {
  box-shadow: 0px 5px 4px -5px rgba(151, 163, 184, 0.5), 0px 15px 8px -15px rgba(151, 163, 184, 0.5), 0px 25px 12px -25px rgba(151, 163, 184, 0.5);
}
.shadow-smooth-sm:hover {
  box-shadow: 0px 10px 10px -10px rgba(151, 163, 184, 0.5);
}
.shadow-smooth-md {
  box-shadow: 0px 5px 6px -5px rgba(151, 163, 184, 0.5), 0px 15px 12px -15px rgba(151, 163, 184, 0.5), 0px 25px 18px -25px rgba(151, 163, 184, 0.5);
}
.shadow-smooth-md:hover {
  box-shadow: 0px 10px 20px -10px rgba(151, 163, 184, 0.5);
}
.shadow-smooth-lg {
  box-shadow: 0px 5px 8px -5px rgba(151, 163, 184, 0.5), 0px 15px 16px -15px rgba(151, 163, 184, 0.5), 0px 25px 32px -25px rgba(151, 163, 184, 0.5);
}
.shadow-smooth-lg:hover {
  box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
}
.shadow-long {
  box-shadow: 0px 10px 0px -10px rgba(151, 163, 184, 0.5), 0px 20px 10px -20px rgba(151, 163, 184, 0.5), 0px 30px 20px -25px rgba(151, 163, 184, 0.5), 0px 40px 30px -30px rgba(151, 163, 184, 0.5), 0px 50px 50px -35px rgba(151, 163, 184, 0.5);
}
.shadow-long:hover {
  box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
}

.card {
  background: #ffffff;
  width: 220px;
  height: 220px;
  border-radius: 1rem;
  margin: 1rem auto;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.card--text {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0 20px;
}
.card--size-state {
  font-size: 18px;
}
.card:hover {
  transform: scale(0.97);
}



.mod-pageing ul {
  font-size: 0;
  letter-spacing: 0;
  margin-top: 20px;
  text-align: center;
}
.mod-pageing ul li {
  display: inline-block;
  font-size: 1rem;
  font-size: 14px;
}

.mod-pageing ul li a {
  display: block;
  margin-right: 0.5em;
  background: #aaa;
  color: #fff;
  border: #333;
  border-radius: 4px;
  text-decoration: none;
  padding: 0.6em 0.8em;
  line-height: 1;
}

.mod-pageing ul li a:hover {
  background: #000;
}

.mod-pageing ul li a.is-active {
  background: #000;
}

</style>
</head>
<body>
	<div class="container">
		{{#moims}}
		<div class="col" onclick="location.href='/moim/view?moimId={{id}}'">
			<div class="card shadow--sm">
				<div class="card--body">
					<p class="card--text card--size-state">[{{cate}}]{{title}}</p>
					<hr/>
					<p class="card--text">{{description}}</p>
					<p class="card--text">{{formatDate}}</p>
					<p class="card--text">{{currentPerson}}/{{maxPerson}}</p>
				</div>
			</div>
		</div>
		{{/moims}}
	</div>

	<div class="mod-pageing">
		<ul>
			
			{{#pages}}
			<li><a href="/moim/list?page={{.}}">{{.}}</a></li>
			{{/pages}}
		</ul>
	</div>
</body>
</html>