<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="https://webfontworld.github.io/cookierun/CookieRun.css" rel="stylesheet">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/initial.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="#" class="logo">Group Talk</a>
      <ul class="top_info">
        <li class="profile"><span><img src="" alt=""></span> <b>000</b>님</li>
        <li class="setting"><a href="profile.html">설정</a><a href="#">로그아웃</a></li>
      </ul>
    </nav>

    <div class="visual">
      <div class="width">
        <form class="" action="index.html" method="post">
          <h2>MOIM <br>Search</h2>
          <div class="search_bar">
            <input type="text" name="" value="" placeholder="검색어를 입력해주세요.">
            <button type="button" name="button"><i class="ri-search-2-line"></i></button>
          </div>
        </form>
        <img src="/image/visual.png" alt="">
      </div>
    </div>

    <div class="all_group width common">
      <h2 class="title">검색 결과</h2>

      <div class="tab">
        <ul class="tabnav">
          <li><a href="#tab01">모임 <span>4건</span></a></li>
          <li><a href="#tab02">유저 <span>3건</span></a></li>
        </ul>
        <div class="tabcontent">
          <div id="tab01">
            <div class="agroup_wrap">
              <div class="ag_box">
                <span class="category">카테고리</span>
                <h2><a href="#">모임제목</a></h2>
                <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
                <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
                <ul>
                  <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
                  <li><p>2023.07.11</p></li>
                </ul>
              </div>
              <div class="ag_box">
                <span class="category">카테고리</span>
                <h2><a href="#">모임제목</a></h2>
                <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
                <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
                <ul>
                  <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
                  <li><p>2023.07.11</p></li>
                </ul>
              </div>
              <div class="ag_box">
                <span class="category">카테고리</span>
                <h2><a href="#">모임제목</a></h2>
                <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
                <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
                <ul>
                  <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
                  <li><p>2023.07.11</p></li>
                </ul>
              </div>
              <div class="ag_box">
                <span class="category">카테고리</span>
                <h2><a href="#">모임제목</a></h2>
                <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
                <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
                <ul>
                  <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
                  <li><p>2023.07.11</p></li>
                </ul>
              </div>
              <div class="ag_box">
                <span class="category">카테고리</span>
                <h2><a href="#">모임제목</a></h2>
                <h3><i class="ri-calendar-line"></i>모임날짜<span>2023.07.11</span></h3>
                <h3><i class="ri-time-line"></i>모임시간<span>8시~10시</span></h3>
                <ul>
                  <li><p><i class="ri-user-3-line"></i>6명 / 8명</p></li>
                  <li><p>2023.07.11</p></li>
                </ul>
              </div>
            </div>
            <div class="page_nav">
              <a href="#"><</a>
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">></a>
            </div>
          </div>
          <div id="tab02">
            <div class="avatar_wrap">
              <ul>
                <li>
                  <span><img src="" alt=""></span>
                  <input type="radio" name="avatar" value="" id="avatar1"><label for="avatar1">선택하기</label>
                </li>
                <li>
                  <span><img src="" alt=""></span>
                  <input type="radio" name="avatar" value="" id="avatar2"><label for="avatar2">선택하기</label>
                </li>
                <li>
                  <span><img src="" alt=""></span>
                  <input type="radio" name="avatar" value="" id="avatar3"><label for="avatar3">선택하기</label>
                </li>
                <li>
                  <span><img src="" alt=""></span>
                  <input type="radio" name="avatar" value="" id="avatar4"><label for="avatar4">선택하기</label>
                </li>
                <li>
                  <span><img src="" alt=""></span>
                  <input type="radio" name="avatar" value="" id="avatar5"><label for="avatar5">선택하기</label>
                </li>
                <li>
                  <span><img src="" alt=""></span>
                  <input type="radio" name="avatar" value="" id="avatar6"><label for="avatar6">선택하기</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="open_wrap common">
      <div class="width">
        <h2 class="title">찾는 모임이 없으시다면?</h2>
        <a href="open.html">모임 개설하기</a>
      </div>
    </div>

    <script type="text/javascript">
      $(function(){
      $('.tabcontent > div').hide();
      $('.tabnav a').click(function () {
        $('.tabcontent > div').hide().filter(this.hash).fadeIn();
        $('.tabnav a').removeClass('active');
        $(this).addClass('active');
        return false;
      }).filter(':eq(0)').click();
      });
    </script>
  </body>
</html>
