<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="https://webfontworld.github.io/cookierun/CookieRun.css" rel="stylesheet">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/initial.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/" class="logo">Group Talk</a>
      <ul class="top_info">
        <li class="profile"><span><img src="{{#avatarURL}}{{.}}{{/avatarURL}}{{^avatarURL}}https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png{{/avatarURL}}"></span> <b>{{SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}</b>님</li>
        <li class="setting"><a href="/mypage/detail">설정</a><a href="/logout">로그아웃</a></li>
      </ul>
    </nav>


    <div class="sub_visual">
      <div class="width2">
        <h2>MY PAGE</h2>
        <img src="/image/sub.png" alt="">
      </div>
    </div>

    <ul class="set_nav">
      <li><a href="/mypage/detail">프로필 설정</a></li>
      <li><a href="/mypage/attendance">모임참여 목록</a></li>
      <li><a href="/mypage/creator" class="mypage_active">모임개설 목록</a></li>
      <li><a href="/mypage/reply">댓글 목록</a></li>
    </ul>

    <div class="common width2">
      <h2 class="title">개설 목록</h2>
      {{#data}}
      <table class="my_party">
        <thead>
          <th>모임이름</th>
          <th>카테고리</th>
          <th>모임날짜</th>
          <th>모임시간</th>
          <th>참여인원</th>
        </thead>
        <tbody>
        {{#data.creators}}
          <tr>
            <td><a href="/moim/view?moimId={{moimId}}">{{title}}</a></td>
            <td><a>{{cate}}</a></td>
            <td>{{formatDate}}</td>
            <td>{{timeStart}} ~ {{timeEnd}}</td>
            <td>{{currentPerson}}/{{maxPerson}}</td>
          </tr>
        {{/data.creators}}
        </tbody>
      </table>
	  {{/data}}
	  
	  {{^data}}
	  <h3>개설한 모임이 없습니다.</h3>
	  {{/data}}
	  
	  
	  {{#data}}
      <div class="page_nav">
       {{#data.prev}}
        <a href="/mypage/creator?page={{data.prevPage}}"><</a>
       {{/data.prev}}
       {{^data.prev}}
        <a><</a>
       {{/data.prev}}
        
        
      {{#data.pages}}
      	{{#flag}}
        <a class="pageActive">{{page}}</a>
        {{/flag}}
        {{^flag}}
        <a href="/mypage/creator?page={{page}}">{{page}}</a>
        {{/flag}}
      {{/data.pages}}
      
      
	  {{#data.next}}
	  <a href="/mypage/creator?page={{data.nextPage}}">></a>
	  {{/data.next}}
	  {{^data.next}}
	  <a>></a>
	  {{/data.next}}
     </div>
     {{/data}}
    </div>

  </body>
</html>
