<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="https://webfontworld.github.io/cookierun/CookieRun.css" rel="stylesheet">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/initial.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/" class="logo">Group Talk</a>
      <ul class="top_info">
        <li class="profile"><span><img src="{{#avatarURL}}{{.}}{{/avatarURL}}{{^avatarURL}}https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png{{/avatarURL}}"></span> <b>{{SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}</b>님</li>
        <li class="setting"><a href="/mypage/detail">설정</a><a href="/logout">로그아웃</a></li>
      </ul>
    </nav>


    <div class="sub_visual">
      <div class="width2">
        <h2>MY PAGE</h2>
        <img src="/image/sub.png" alt="">
      </div>
    </div>

    <ul class="set_nav">
      <li><a href="/mypage/detail">프로필 설정</a></li>
      <li><a href="/mypage/attendance">모임참여 목록</a></li>
      <li><a href="/mypage/creator">모임개설 목록</a></li>
      <li><a href="/mypage/reply">댓글 목록</a></li>
      <li><a href="/mypage/follow" class="mypage_active">팔로우 목록</a></li>
    </ul>

    <div class="common width2">
      <h2 class="title">내가 팔로우한 유저</h2>
      {{#data}}
         <div id="tab02">
           <div class="avatar_wrap">
             <ul>
             	
             	{{#data.follows}}
                <li id="{{userId}}">
                  <span><img src="{{#avatarURL}}{{.}}{{/avatarURL}}{{^avatarURL}}https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png{{/avatarURL}}" alt=""></span>
              	  <h2>{{userNick}}<br/>(@{{userId}})</h2>
                  <a class="unfollow followed" data-user-id="{{userId}}">팔로우취소</a>
                </li>
                {{/data.follows}}

             </ul>
           </div>
         </div>
      {{/data}}
         
  	  {{^data}}
	  <h3>팔로우한 유저가 없습니다.</h3>
	  {{/data}}

	  {{#data}}
      <div class="page_nav">
       {{#data.prev}}
        <a href="/mypage/follow?page={{data.prevPage}}"><</a>
       {{/data.prev}}
       {{^data.prev}}
        <a><</a>
       {{/data.prev}}
        
        
      {{#data.pages}}
      	{{#flag}}
        <a class="pageActive">{{page}}</a>
        {{/flag}}
        {{^flag}}
        <a href="/mypage/follow?page={{page}}">{{page}}</a>
        {{/flag}}
      {{/data.pages}}
      
      
	  {{#data.next}}
	  <a href="/mypage/follow?page={{data.nextPage}}">></a>
	  {{/data.next}}
	  {{^data.next}}
	  <a>></a>
	  {{/data.next}}
     </div>
     {{/data}}
    </div>
<script type="text/javascript">
	document.querySelectorAll(".followed").forEach( elm => {
		elm.onclick = (evt)=> {
			const xhr = new XMLHttpRequest();
			xhr.open("delete","/follow?target="+evt.target.dataset.userId, false);
			xhr.send();
			const response = JSON.parse(xhr.responseText);
			if(response.result) {
				document.querySelector("#"+evt.target.dataset.userId).style.display='none';
			}
		};
	});
</script>
  </body>
</html>
