<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="https://webfontworld.github.io/cookierun/CookieRun.css" rel="stylesheet">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/initial.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/" class="logo">Group Talk</a>
      <ul class="top_info">
        <li class="profile"><span><img src="{{#avatarURL}}{{.}}{{/avatarURL}}{{^avatarURL}}https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png{{/avatarURL}}"></span> <b>{{SPRING_SECURITY_CONTEXT.Authentication.Principal.nick}}</b>님</li>
        <li class="setting"><a href="/user/detail">설정</a><a href="/logout">로그아웃</a></li>
      </ul>
    </nav>

    <div class="sub_visual">
      <div class="width2">
        <h2>MY PAGE</h2>
        <img src="/image/sub.png">
      </div>
    </div>

    <ul class="set_nav">
      <li><a href="">프로필 설정</a></li>
      <li><a href="mypage.html">참여 목록</a></li>
    </ul>

    <div class="common width2">
      <h2 class="title">프로필 설정 변경</h2>

      <form class="" action="/user/detail" method="post" class="profile_form">
        <div class="profile_img">
        {{#detail.avatarURL}}
          <span><img src="{{detail.avatarURL}}"></span>
        {{/detail.avatarURL}}
        {{^detail.avatarURL}}
          <span><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/138926-200.png"></span>
        {{/detail.avatarURL}}
          <div class="avatar_wrap">
            <h2>아바타 변경</h2>
            <ul>
		{{#detail.avatars}}
			{{#myAvatar}}
              <li>
                <span><img src="{{url}}"></span>
                <input type="radio" name="avatarId" value="{{id}}" id="{{id}}" checked="checked"><label for="{{id}}">선택하기</label>
              </li>
            {{/myAvatar}}
            {{^myAvatar}}
              <li>
                <span><img src="{{url}}"></span>
                <input type="radio" name="avatarId" value="{{id}}" id="{{id}}"><label for="{{id}}">선택하기</label>
              </li>
            {{/myAvatar}}
        {{/detail.avatars}}

            </ul>
          </div>
        </div>
        <div class="profile_info_wrap">
          <h2>개인정보</h2>
          <ul class="profile_info">
            <li>
              <h4>생년월일</h4>
              <input type="date" name="birthday" value="{{#detail.birthday}}{{.}}{{/detail.birthday}}">
            </li>
            <li>
              <h4>주소</h4>
              <input type="text" name="address" value="{{#detail.address}}{{.}}{{/detail.address}}">
            </li>
            <li>
              <h4>한줄소개</h4>
              <input type="text" name="description" value="{{#detail.description}}{{.}}{{/detail.description}}">
            </li>
          </ul>
        </div>

        <div class="form_btn">
          <a href="/moim/list"><button type="button" name="button">취소</button></a>
          <button type="submit" name="button">변경하기</button>
        </div>
      </form>
    </div>

  </body>
</html>
